<h1 class="text-center">Add a review </h1>

<%= render 'form', review: @review %>
<div class="back_link">
  <p class="text-center"><%= link_to 'Back to all restaurants', restaurants_path, class: 'btn btn-link' %><p>
</div>
